<a ui-sref="Home">
    <- Take me the home!</a>
        <div class="centered">
            <div class="circular"></div>
            <h5>Muhammed Tanrıkulu</h5>
            <em>Front-end Developer</em>
            <div class="row">
                <div class="column">
                    <a href="https://www.linkedin.com/in/muhammedtanrikulu"><i class="fi-social-linkedin"></i></a>
                </div>
                <div class="column">
                    <a href="https://github.com/mdtanrikulu"><i class="fi-social-github"></i></a>
                </div>
                <div class="column">
                    <a href="https://jsfiddle.net/user/baymuskulpesent/"><i class="fi-link"></i></a>
                </div>
                <div class="column">
                    <a href="http://mhmdt.com"><i class="fi-link"></i></a>
                </div>
                <div class="column">
                    <a href="https://bitbucket.org/mdtanrikulu/"><i class="fi-link"></i></a>
                </div>
            </div>
        </div>